html{
	font-family: sans-serif;
}
html,body,header,section,footer,div,ul,ol,li,img,a,span,em,del,legend,center,strong,var,fieldset,form,label,dl,dt,dd,cite,input,hr,time,mark,code,figcaption,figure,textarea,h1,h2,h3,h4,h5,h6,p{
	margin:0;
	border:0;
	padding:0;
	font-style:normal;
}
body {
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-user-select:none;
	background-color: #ffffff;
}
nav,article,aside,details,main,header,footer,section,fieldset,figcaption,figure{
	display: block;
}
img,a,button,em,del,strong,var,label,cite,small,time,mark,code,textarea{
	display:inline-block;
}
header,section,footer {
	position:relative;
}
ol,ul{
	list-style:none;
}
input,button,textarea {
	border:0;
	margin:0;
	padding:0;
	font-size:1em;
	line-height:1em;
	/*-webkit-appearance:none;*/
	background-color:rgba(0, 0, 0, 0);
}
span{
	display:inline-block;
}
a:active, a:hover {
  outline: 0;
}
a, a:visited{
	text-decoration:none;
}

label, .wordWrap{
    word-wrap: break-word;
    word-break: break-all;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,th {
  padding: 0;
}
.clearfix:after{
	content: ' ';
	display: block;
	clear: both;
	visibility:hidden;
	line-height: 0;
	height:0;
}
.loading_more{
	display: block;
	height: 1.5em;
	width: 100%;
}
.loading_more:before {
	display: inline-block; vertical-align: text-bottom;
	content: ' '; height: 16px; width: 16px; margin-right: 6px;
	background: url(../image/loading_more.gif) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
} 
.loading_more:after {
	content: '加载更多';	
}
/*-----以上为apicss------*/


body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select { margin: 0; padding: 0;}
body, input, textarea, select, button, table { font-size: 16px; line-height: 1.25em; }
body{ min-width: 320px; font-size: 1em; font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif; color: #000; -webkit-text-size-adjust: none; background-color:#ffffff; }
img, fieldset { border: 0 }
ul, ol { list-style: none }
em, address { font-style: normal }
a { color: #000; text-decoration: none }
table { border-collapse: collapse }
.new-h_txt { visibility: hidden; overflow: hidden; position: absolute; left: -999em; width: 0; height: 0; font-size: 0; line-height: 0 }
.clear { clear: both; height:0; border:0; border:none;}
.clear:after { display: block; clear: both; height: 1px; margin-top: -1px; content: '' }

.lf{float:left;}
.rt{float:right;}
.fontstyle{font-family:"Microsoft YaHei";}
.shuzi{font-family:Arial, Helvetica, sans-serif;}
.fontcolor{color:#3c77da;}
.fontcolor2{color:#989898;}
.fontcolor3{color:#2b2b2b;}
.fontcolor4{color:#FFFFFF;}
.fontcolor5{color:#e3393c;}
.fontcolor6{color:#ff2f00;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.display-block{display:block;}
.display-inlineblock{ display:inline-block;}
.display-table{display:table;}
.display-table-cell{display:table-cell;}
.vtop{ vertical-align:top;}
.over-hidden{overflow:hidden;}
.txt-center{text-align:center;}
.txt-left{text-align:left;}
.txt-right{text-align:right;}
.new-ct { min-height:300px; background-color: #fff;}
@font-face { font-family: "iconfont"; src: url('../font/iconfont.eot'); /* IE9*/ src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */  url('../font/iconfont.woff') format('woff'), /* chrome、firefox */  url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/  url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */ }
.iconfont { font-family: "iconfont" !important; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }
.icon-notificationfill:before { content: "\e605"; }


