

.login-dl { padding:25px 0.85em 10px 0.85em;}
.login-input-text {font-size: 14px; color:#333; margin:0px 0 20px 0; position:relative;}
.login-input-text i{position:absolute; line-height:40px; padding-left:10px; color:#b6b6b6;}
.login-input-text input { border: 1px solid #dcdcdc; border-radius:4px; height:42px; padding:0px 6px; outline: 0; width: 100%; font-size: 14px; margin:2px 0; font-family: "Microsoft YaHei"; padding-left:32px;background-color:#f5f5f5;transition:all 0.30s ease-in-out;-webkit-transition: all 0.30s ease-in-out;-moz-transition: all 0.30s ease-in-out;outline:none;}
.login-input-text input:focus{box-shadow:0 0 5px rgba(231, 172, 133, 1);-webkit-box-shadow:0 0 5px rgba(231, 172, 133, 1);-moz-box-shadow:0 0 5px rgba(231, 172, 133, 1); border:1px solid #eaba9a; background-color:#f9f9f9;}

.wap_btn{ height:40px; line-height:40px; background:#eb7d34; text-align: center; color: #fff; margin-top: 20px; font-size: 18px; border-radius:4px; cursor: pointer; }
.wap_btn:active{background:#dd5f22;}
.login-foot-zcmm{font-size:14px; padding:15px 0 3.3em 0; color:#888888;}
.login-foot-zcmm span:active{color:#eb7d34;}
/*---登陆按钮及登陆所有页面完成--*/
.registers{ padding:10px 0.85em 10px 0.85em;}
.register-input-text {font-size: 14px; color: #333;  position:relative;border-bottom:1px solid #dcdcdc; overflow:hidden;}
.register-input-text .register_hq{ line-height:35px;color:#ffffff; background-color:#78d7e8; float:left; width:30%; border-radius:4px; text-align:center;}
.register-input-text .register_hq:active{background-color:#52c0d4;}
.register-input-c1 select{ border:none;font-size: 14px; font-family: "Microsoft YaHei"; text-indent:5px; width:100%; color:#a9a9a9;height:42px; display:block;padding:0px 1px; background-color:#ffffff; outline:none;}

.register-input-c1{margin:15px 0 15px 0; padding-bottom:10px;}
.register-input-c2{margin:0px 0 15px 0;padding-bottom:10px;}
.register-input-c1 input { border-radius:4px; height:42px; padding:0px 6px; outline: 0; width: 100%; font-size: 14px; font-family: "Microsoft YaHei"; text-indent:5px;  float:left;}
.register-input-c2 input { border-radius:4px; height:42px; padding:0px 6px; outline: 0; width:70%; font-size: 14px; font-family: "Microsoft YaHei"; text-indent:5px; float:left;}
.tongyi_xieyi{ line-height:20px; color:#2b2b2b; font-size:15px;}
.tongyi_xieyi span span{ margin-left:3px; color:#d27334;}
.tongyi_xieyi span span:active{ color:#d24a34;}
.chk_1{display:none;}
.chk_1 + label {background-color: #f9f9f9;border: 1px solid #dcdcdc;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);padding:11px;border-radius:4px;display: inline-block;position: relative;margin-right:10px;top:5px;}
.chk_1 + label:active {box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 2px rgba(0,0,0,0.1);}
.chk_1:checked + label {background-color: #ECF2F7;border: 1px solid #c1c1c1;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);color: #243441;}
.chk_1:checked + label:after {content: '\2714';position: absolute;top: 0px;left: 0px;color: #ababab;width: 100%;text-align: center;font-size:1em;font-weight:normal;padding: 1px 0 0 0;
vertical-align: text-top;}
/*---registers the end--*/