
html {
    font-family: sans-serif;
    font-size: 20px;
}
html, body {
    -moz-text-size-adjust: none;
    -moz-user-select: none;
    width: 100%;
}
body {
    background-color: #f5f5f5;
    color: #212121;
    font-size: 0.8rem;
    line-height: 1.5;
    outline: 0 none;
}
html, body, header, section, footer, div, ul, ol, li, img, a, span, em, del, legend, center, strong, var, fieldset, form, label, dl, dt, dd, cite, input, hr, time, mark, code, figcaption, figure, textarea, h1, h2, h3, h4, h5, h6, p {
    border: 0 none;
    font-style: normal;
    margin: 0;
    padding: 0;
}
* {
    -moz-user-select: none;
    box-sizing: border-box;
    outline: medium none;
}
@media only screen and (min-width: 400px) {
html {
    font-size: 21.3333px;
}
}
@media only screen and (min-width: 414px) {
html {
    font-size: 21px;
}
}
@media only screen and (min-width: 480px) {
html {
    font-size: 25.6px;
}
}
ul, li {
    list-style: outside none none;
}
p {
    color: #757575;
    font-size: 0.7rem;
}
a {
    background-color: transparent;
    color: #0062cc;
    text-decoration: none;
}
a:hover {
    outline: 0 none;
}
textarea {
    overflow: hidden;
    resize: none;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, input, select, textarea {
    color: inherit;
    font: inherit;
}
.aui-ellipsis-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.aui-ellipsis-2 {
display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: normal !important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;}
.aui-hr {
    height: 1px;
    position: relative;
    width: 100%;
}
.aui-hr::after {
    background-color: #dddddd;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: auto;
    top: auto;
    transform-origin: 50% 100% 0;
    width: 100%;
}
@media not all {
.aui-hr::after {
    transform: scaleY(1);
}
}
@media not all {
.aui-hr::after {
    transform: scaleY(0.5);
}
}
@media not all {
.aui-hrafter {
    transform: scaleY(0.333);
}
}
.aui-padded-t-0 {
    padding-top: 0;
}
.aui-padded-t-5 {
    padding-top: 0.25rem;
}
.aui-padded-t-10 {
    padding-top: 0.5rem;
}
.aui-padded-t-15 {
    padding-top: 0.75rem;
}
.aui-padded-t-45 {
    padding-top: 2.25rem;
}
.aui-padded-t-60 {
    padding-top: 3rem;
}
.aui-padded-t-80 {
    padding-top: 3.5rem;
}
.aui-padded-b-0 {
    padding-bottom: 0;
}
.aui-padded-b-5 {
    padding-bottom: 0.25rem;
}
.aui-padded-b-10 {
    padding-bottom: 0.5rem;
}
.aui-padded-b-15 {
    padding-bottom: 0.75rem;
}
.aui-padded-l-0 {
    padding-left: 0;
}
.aui-padded-l-5 {
    padding-left: 0.25rem;
}
.aui-padded-l-10 {
    padding-left: 0.5rem;
}
.aui-padded-l-15 {
    padding-left: 0.75rem;
}
.aui-padded-r-0 {
    padding-right: 0;
}
.aui-padded-r-5 {
    padding-right: 0.25rem;
}
.aui-padded-r-10 {
    padding-right: 0.5rem;
}
.aui-padded-r-15 {
    padding-right: 0.75rem;
}
.aui-margin-t-0 {
    margin-top: 0.25rem;
}
.aui-margin-t-5 {
    margin-top: 0;
}
.aui-margin-t-10 {
    margin-top: 0.5rem;
}
.aui-margin-t-15 {
    margin-top: 0.75rem;
}
.aui-margin-t-60 {
    margin-top: 3rem;
}
.aui-margin-t-80 {
    margin-top: 4rem;
}
.aui-margin-b-0 {
    margin-bottom: 0;
}
.aui-margin-b-5 {
    margin-bottom: 0.25rem;
}
.aui-margin-b-10 {
    margin-bottom: 0.5rem;
}
.aui-margin-b-15 {
    margin-bottom: 0.75rem;
}
.aui-margin-l-0 {
    margin-left: 0;
}
.aui-margin-l-5 {
    margin-left: 0.25rem;
}
.aui-margin-l-10 {
    margin-left: 0.5rem;
}
.aui-margin-l-15 {
    margin-left: 0.75rem;
}
.aui-margin-r-0 {
    margin-right: 0;
}
.aui-margin-r-5 {
    margin-right: 0.25rem;
}
.aui-margin-r-10 {
    margin-right: 0.5rem;
}
.aui-margin-r-15 {
    margin-right: 0.75rem;
}
.aui-clearfix {
    clear: both;
}
.aui-clearfix::before {
    content: " ";
    display: table;
}
.aui-clearfix::after {
    clear: both;
}
.aui-text-left {
    text-align: left;
}
.aui-text-center {
    text-align: center;
}
.aui-text-justify {
    text-align: justify;
}
.aui-text-right {
    text-align: right;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
h1 {
    font-size: 1.2rem;
}
h2 {
    font-size: 1rem;
}
h3 {
    font-size: 0.8rem;
}
h4 {
    font-size: 0.7rem;
}
h5 {
    color: #757575;
    font-size: 0.7rem;
    font-weight: normal;
}
h6 {
    color: #757575;
    font-size: 0.7rem;
    font-weight: normal;
}
h1 small, h2 small, h3 small, h4 small {
    color: #757575;
    font-weight: normal;
    line-height: 1;
}
h5 small, h6 small {
    color: #757575;
    font-weight: normal;
    line-height: 1;
}
h1 small, h2 small, h3 small {
    font-size: 65%;
}
h4 small, h5 small, h6 small {
    font-size: 75%;
}
.aui-font-size-12 {
    font-size: 0.6rem;
}
.aui-font-size-14 {
    font-size: 0.7rem;
}
.aui-font-size-16 {
    font-size: 0.8rem;
}
.aui-font-size-18 {
    font-size: 0.9rem;
}
.aui-font-size-20 {
    font-size: 1rem;
}
.aui-text-default {
    color: #212121;
}
.aui-text-primary {
    color: #00bcd4;
}
.aui-text-success {
    color: #009688;
}
.aui-text-info {
    color: #03a9f4;
}
.aui-text-warning {
    color: #ffc107;
}
.aui-text-danger {
    color: #e51c23;
}
.aui-text-pink {
    color: #e91e63;
}
.aui-text-purple {
    color: #673ab7;
}
.aui-text-indigo {
    color: #3f51b5;
}
.aui-text-white {
    color: #ffffff;
}
.aui-text-green {
    color: #00ff00;
}
.aui-bg-default {
    background-color: #f5f5f5;
}
.aui-bg-primary {
    background-color: #00bcd4;
}
.aui-bg-success {
    background-color: #009688;
}
.aui-bg-info {
    background-color: #03a9f4;
}
.aui-bg-warning {
    background-color: #f1c40f;
}
.aui-bg-danger {
    background-color: #e51c23;
}
.aui-bg-pink {
    background-color: #e91e63;
}
.aui-bg-purple {
    background-color: #673ab7;
}
.aui-bg-indigo {
    background-color: #3f51b5;
}
.aui-warning, .aui-warning label, .aui-warning .aui-input, .aui-warning .aui-iconfont {
    color: #e51c23;
}
.aui-success, .aui-success label, .aui-success .aui-input, .aui-success .aui-iconfont {
    color: #009688;
}
.aui-pull-right {
    float: right;
}
.aui-pull-left {
    float: left;
}
.aui-hide {
    display: none;
}
.aui-show {
    display: block;
}
.aui-invisible {
    visibility: hidden;
}
.aui-inline {
    display: inline-block;
    vertical-align: top;
}
.aui-mask {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition-duration: 300ms;
    visibility: hidden;
    width: 100%;
    z-index: 8;
}
.aui-mask.aui-mask-in {
    opacity: 1;
    visibility: visible;
}
.aui-mask.aui-mask-out {
    opacity: 0;
}
img.aui-img-round-5 {
    border-radius: 5px;
}
img.aui-img-round-10 {
    border-radius: 10px;
}
img.aui-img-round {
    border-radius: 50%;
}
img.aui-img-5 {
	width:5rem;
	height:5rem;
}
img.aui-img-3 {
	width:3rem;
	height:3rem;
}
img.aui-img-4 {
	width:4rem;
	height:4rem;
}
.aui-content {
}
.aui-content-padded {
    margin: 0.75rem;
    position: relative;
}
.aui-content-padded .aui-list::before {
    height: 0;
}
.aui-content-padded .aui-list::after {
    height: 0;
}
.aui-row {
    margin: 0;
    overflow: hidden;
}
.aui-row-padded {
    margin-left: -0.125rem;
    margin-right: -0.125rem;
}
.aui-row-padded [class*="aui-col-xs-"] {
    padding: 0.125rem;
}
.aui-col-xs-1, .aui-col-xs-2, .aui-col-xs-3, .aui-col-xs-4, .aui-col-xs-5, .aui-col-xs-6, .aui-col-xs-7, .aui-col-xs-8, .aui-col-xs-9, .aui-col-xs-10, .aui-col-xs-11, .aui-col-xs-5 {
    float: left;
    position: relative;
}
.aui-col-xs-12 {
    position: relative;
    width: 100%;
}
.aui-col-xs-11 {
    width: 91.6667%;
}
.aui-col-xs-10 {
    width: 83.3333%;
}
.aui-col-xs-9 {
    width: 75%;
}
.aui-col-xs-8 {
    width: 66.6667%;
}
.aui-col-xs-7 {
    width: 58.3333%;
}
.aui-col-xs-6 {
    width: 50%;
}
.aui-col-xs-5 {
    width: 41.6667%;
}
.aui-col-xs-4 {
    width: 33.3333%;
}
.aui-col-xs-3 {
    width: 25%;
}
.aui-col-xs-2 {
    width: 16.6667%;
}
.aui-col-xs-1 {
    width: 8.33333%;
}
.aui-col-5 {
    width: 20%;
}
.aui-label {
    background-color: #e0e0e0;
    border-radius: 0.15em;
    color: #616161;
    display: inline-block;
    font-size: 0.6rem;
    line-height: 1;
    padding: 0.3em 0.35em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
.aui-label-primary {
    background-color: #00bcd4;
    color: #ffffff;
}
.aui-label-success {
    background-color: #009688;
    color: #ffffff;
}
.aui-label-info {
    background-color: #03a9f4;
    color: #ffffff;
}
.aui-label-warning {
    background-color: #ffc107;
    color: #ffffff;
}
.aui-label-danger {
    background-color: #e51c23;
    color: #ffffff;
}
.aui-label-outlined {
    background-color: transparent;
    border: 1px solid #d9d9d9;
}
.aui-label-outlined.aui-label-primary {
    border-color: #00bcd4;
    color: #00bcd4;
}
.aui-label-outlined.aui-label-success {
    border-color: #009688;
    color: #009688;
}
.aui-label-outlined.aui-label-info {
    border-color: #03a9f4;
    color: #03a9f4;
}
.aui-label-outlined.aui-label-warning {
    border-color: #ffc107;
    color: #ffc107;
}
.aui-label-outlined.aui-label-danger {
    border-color: #e51c23;
    color: #e51c23;
}
.aui-label .aui-iconfont {
    font-size: 0.6rem;
}
.aui-badge {
    background-color: #ff2600;
    border-radius: 0.4rem;
    color: #ffffff;
    display: inline-block;
    font-size: 0.6rem;
    height: 0.8rem;
    left: 60%;
    line-height: 0.8rem;
    min-width: 0.8rem;
    padding: 0 0.2rem;
    position: absolute;
    text-align: center;
    top: 0.2rem;
    width: auto;
    z-index: 99;
}
.aui-dot {
    background: #ff2600 none repeat scroll 0 0;
    border-radius: 0.5rem;
    display: inline-block;
    height: 0.4rem;
    position: absolute;
    right: 20%;
    top: 0.3rem;
    width: 0.4rem;
    z-index: 99;
}
.aui-dot-1 {
    background: #ff2600 none repeat scroll 0 0;
    border-radius: 0.5rem;
    display: inline-block;
    height: 0.4rem;
    width: 0.4rem;
    z-index: 99;
}
button, .aui-btn {
    -moz-user-select: none;
    background: #e0e0e0 none repeat scroll 0 0;
    border-radius: 0.2rem;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 0.7rem;
    font-weight: 400;
    margin: 0;
    padding: 0.25rem 0.6rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
.aui-btn:active {
    background-color: #bdbdbd;
    color: #212121;
}
.aui-btn-primary {
    background-color: #00bcd4;
    color: #ffffff;
}
.aui-btn-primary.aui-active, .aui-btn-primary:active {
    background-color: #00acc1;
    color: #ffffff;
}
.aui-btn-success {
    background-color: #009688;
    color: #ffffff;
}
.aui-btn-success.aui-active, .aui-btn-success:active {
    background-color: #00897b;
    color: #fff;
}
.aui-btn-info {
    background-color: #03a9f4;
    color: #ffffff;
}
.aui-btn-info.aui-active, .aui-btn-info:active {
    background-color: #039be5;
    color: #fff;
}
.aui-btn-warning {
    background-color: #ffc107;
    color: #ffffff;
}
.aui-btn-warning.aui-active, .aui-btn-warning:active {
    background-color: #ffb300;
    color: #ffffff;
}
.aui-btn-danger {
    background-color: #e51c23;
    color: #ffffff;
}
.aui-btn-danger.aui-active, .aui-btn-danger:active {
    background-color: #dd191b;
    color: #ffffff;
}
.aui-btn-block {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0;
    padding: 0.6rem 0;
    width: 100%;
}
.aui-btn-block.aui-btn-sm {
    font-size: 0.7rem;
    padding: 0.4rem 0;
}
.aui-btn .aui-iconfont, .aui-btn-block .aui-iconfont {
    margin-right: 0.3rem;
}
.aui-btn .aui-badge, .aui-btn-block .aui-badge {
    margin-left: 0.3rem;
}
.aui-btn-outlined {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #bdbdbd;
}
.aui-btn-outlined:active {
    background: transparent none repeat scroll 0 0;
}
.aui-btn-default.aui-btn-outlined {
    border: 1px solid #dcdcdc;
    color: #bdc3c7;
}
.aui-btn-primary.aui-btn-outlined {
    border: 1px solid #00bcd4;
    color: #00bcd4;
}
.aui-btn-success.aui-btn-outlined {
    border: 1px solid #009688;
    color: #009688;
}
.aui-btn-info.aui-btn-outlined {
    border: 1px solid #03a9f4;
    color: #03a9f4;
}
.aui-btn-warning.aui-btn-outlined {
    border: 1px solid #ffc107;
    color: #ffc107;
}
.aui-btn-danger.aui-btn-outlined {
    border: 1px solid #e51c23;
    color: #e51c23;
}
input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input[type="url"], input[type="date"], input[type="datetime-local"], input[type="time"], input[type="number"], select, textarea {
    -moz-user-select: text;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #424242;
    display: block;
    font-family: inherit;
    font-size: 0.8rem;
    margin: 0;
    min-height: 2.2rem;
    padding: 0;
    width: 100%;
}
.aui-list {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    position: relative;
}
.aui-list .aui-content {
    overflow: hidden;
}
.aui-list.aui-list-noborder::before, .aui-list.aui-list-noborder::after {
    height: 0;
}
.aui-list::before {
    background-color: #dddddd;
    bottom: auto;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: auto;
    top: 0;
    transform-origin: 50% 100% 0;
    width: 100%;
    z-index: 2;
}
.aui-list::after {
    background-color: #dddddd;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: auto;
    top: auto;
    transform-origin: 50% 100% 0;
    width: 100%;
    z-index: 2;
}
.aui-list .aui-list-header {
    background-color: #e0e0e0;
    box-sizing: border-box;
    color: #212121;
    display: block;
    font-size: 0.6rem;
    line-height: 1;
    list-style: outside none none;
    margin: 0;
    padding: 0.4rem;
}
.aui-list .aui-list-item {
    -moz-box-pack: justify;
    background-color: #ffffff;
    box-sizing: border-box;
    color: #212121;
    display: flex;
    justify-content: space-between;
    list-style: outside none none;
    margin: 0;
    min-height: 2.2rem;
    padding: 0 0 0 0.75rem;
    position: relative;
}
.aui-list .aui-list-item-inner {
    -moz-box-align: center;
    -moz-box-flex: 1;
    -moz-box-pack: justify;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    min-height: 2.2rem;
    padding-right: 0.75rem;
    position: relative;
    width: 100%;
}
.aui-list .aui-list-item::after {
    background-color: #dddddd;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: auto;
    top: auto;
    transform-origin: 50% 100% 0;
    width: 100%;
    z-index: 2;
}
.aui-list .aui-list-item:active {
    background-color: #f5f5f5;
    transition: background-color 0.2s linear 0s;
}
.aui-list .aui-list-item:last-child::after {
    height: 0;
}
.aui-list .aui-list-item-text {
    -moz-box-pack: justify;
    align-items: center;
    box-sizing: border-box;
    color: #757575;
    display: flex;
    font-size: 0.7rem;
    justify-content: space-between;
    position: relative;
}
.aui-list .aui-list-item-title {
    color: #212121;
    font-size: 0.8rem;
    max-width: 100%;
    position: relative;
}
.aui-list .aui-list-item-right, .aui-list-item-title-row em {
    color: #757575;
    font-size: 0.6rem;
    margin-left: 0.25rem;
    max-width: 50%;
    position: relative;
}
.aui-list .aui-list-item-inner p {
    overflow: hidden;
}
.aui-list .aui-list-media-list {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    flex-direction: column;
}
.aui-media-list-item-inner {
    box-sizing: border-box;
    display: flex;
}
.aui-media-list .aui-list-item {
    display: block;
}
.aui-media-list .aui-list-item-inner {
    display: block;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.aui-media-list-item-inner + .aui-info {
    margin-right: 0.75rem;
}
.aui-list .aui-list-item-media {
    -moz-box-align: center;
    align-items: flex-start;
    display: inherit;
    flex-shrink: 0;
    flex-wrap: nowrap;
    padding: 0.5rem 0.75rem 0.5rem 0;
    position: relative;
    width: 4.5rem;
}
.aui-list .aui-list-item-media img {
    display: block;
    width: 100%;
}
.aui-list .aui-list-item-media-list {
    display: block;
    margin-top: 0.25rem;
    padding-right: 0;
}
.aui-list.aui-media-list [class*="aui-col-xs-"] img {
    display: block;
    max-width: 100%;
    width: 100%;
}
.aui-list-item-middle .aui-list-item-inner::after {
    display: block;
}
.aui-list .aui-list-item-middle > .aui-list-item-media, .aui-list .aui-list-item-middle > .aui-list-item-inner, .aui-list .aui-list-item-middle > * {
    -moz-box-align: center;
    align-items: center;
}
.aui-list .aui-list-item-center > .aui-list-item-media, .aui-list .aui-list-item-center > .aui-list-item-inner, .aui-list .aui-list-item-center {
    -moz-box-pack: center;
    justify-content: center;
}
.aui-list .aui-list-item i.aui-iconfont {
    align-self: center;
    font-size: 0.8rem;
}
.aui-list-item-inner.aui-list-item-arrow {
    overflow: hidden;
    padding-right: 1.5rem;
}
.aui-list-item-arrow::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent none repeat scroll 0 0;
    border-color: currentcolor currentcolor #dddddd #dddddd;
    border-image: none;
    border-radius: 0;
    border-style: none none solid solid;
    border-width: medium medium 1px 1px;
    content: "";
    height: 0.4rem;
    margin-top: -0.2rem;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: rotate(-135deg);
    width: 0.4rem;
    z-index: 2;
}
.aui-list-item.aui-list-item-arrow {
    padding-right: 0.75rem;
}
.aui-list label {
    line-height: 1.3rem;
}
.aui-list.aui-form-list .aui-list-item:active {
    background-color: #ffffff;
}
.aui-list.aui-form-list .aui-list-item-inner {
    box-sizing: border-box;
    display: flex;
    padding: 0;
}
.aui-list .aui-list-item-label, .aui-list .aui-list-item-label-icon {
    align-items: center;
    box-sizing: border-box;
    color: #212121;
    display: flex;
    line-height: 2.2rem;
    margin: 0;
    max-width: 100%;
    min-width: 1.5rem;
    overflow: hidden;
    padding: 0 0.25rem 0 0;
    position: relative;
    white-space: nowrap;
    width: 35%;
}
.aui-list .aui-list-item-label-icon {
    padding-right: 0.75rem;
    width: auto;
}
.aui-list .aui-list-item-input {
    -moz-box-flex: 1;
    flex-shrink: 1;
    padding: 0 0.75rem 0 0;
    width: 100%;
}
.aui-list.aui-select-list .aui-list-item:active {
    background-color: #ffffff;
}
.aui-list.aui-select-list .aui-list-item-inner {
    align-self: stretch;
    display: block;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.aui-list.aui-select-list .aui-list-item-label {
    min-width: 2.2rem;
    padding: 0.5rem 0.75rem 0.5rem 0;
    width: auto;
}
.aui-list.aui-form-list .aui-list-item-btn {
    padding: 0.75rem 0.75rem 0.75rem 0;
}
.aui-list.aui-list-in .aui-list-item {
    overflow-x: hidden;
}
.aui-list.aui-list-in .aui-list-item::after {
    left: 0.75rem;
}
.aui-list.aui-list-in .aui-list-item:last-child::after {
    height: 0;
}
.aui-list.aui-list-in .aui-list-item::after {
    height: 0;
}
.aui-list.aui-list-in.aui-media-list .aui-list-item-inner.aui-list-item-arrow {
    padding-right: 1.5rem;
}
.aui-list.aui-list-in .aui-list-item-inner::after {
    background-color: #dddddd;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: auto;
    top: auto;
    transform-origin: 50% 100% 0;
    width: 100%;
}
.aui-list.aui-list-in .aui-list-item:last-child > .aui-list-item-inner::after {
    height: 0;
}
.aui-list textarea {
    height: 3rem;
    line-height: 1rem;
    margin: 0.5rem 0;
    overflow: auto;
    resize: none;
}
.aui-list .aui-list-item-right .aui-badge, .aui-list .aui-list-item-right .aui-dot {
    display: inherit;
}
@media not all {
.aui-list::before, .aui-list::after, .aui-list-item::after, .aui-list.aui-list-in .aui-list-item-inner::after {
    transform: scaleY(1);
}
}
@media not all {
.aui-list::before, .aui-list::after, .aui-list-item::after, .aui-list.aui-list-in .aui-list-item-inner::after {
    transform: scaleY(0.5);
}
}
@media not all {
.aui-list::before, .aui-list::after, .aui-list-item::after, .aui-list.aui-list-in .aui-list-item-inner::after {
    transform: scaleY(0.333);
}
}
.aui-tab {
    align-self: center;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}
.aui-tab-item {
    -moz-box-flex: 1;
    background-color: #ffffff;
    color: #212121;
    font-size: 0.7rem;
    height: 2.2rem;
    line-height: 2.2rem;
    margin-left: -1px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
.aui-tab-item.aui-active {
    border-bottom: 2px solid #039be5;
    color: #039be5;
    z-index: 100;
}
.aui-tab::after {
    background-color: #dddddd;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: auto;
    top: auto;
    transform-origin: 50% 100% 0;
    width: 100%;
    z-index: 2;
}
@media not all {
.aui-tab::after {
    transform: scaleY(1);
}
}
@media not all {
.aui-tab::after {
    transform: scaleY(0.5);
}
}
@media not all {
.aui-tab::after {
    transform: scaleY(0.333);
}
}
.aui-card-list {
    background: #ffffff none repeat scroll 0 0;
    margin-bottom: 0.75rem;
    position: relative;
}
.aui-card-list-header, .aui-card-list-footer {
    -moz-box-align: center;
    -moz-box-pack: justify;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    min-height: 2.2rem;
    padding: 0.5rem 0.75rem;
    position: relative;
}
.aui-card-list-header {
    color: #212121;
    font-size: 0.8rem;
}
.aui-card-list-header.aui-card-list-user {
    display: block;
}
.aui-card-list-user-avatar {
    float: left;
    margin-right: 0.5rem;
    width: 2rem;
}
.aui-card-list-user-avatar img {
    display: block;
    width: 100%;
}
.aui-card-list-user-name {
    -moz-box-align: center;
    -moz-box-pack: justify;
    align-items: center;
    box-sizing: border-box;
    color: #212121;
    display: flex;
    font-size: 0.7rem;
    justify-content: space-between;
    position: relative;
}
.aui-card-list-user-name > *, .aui-card-list-user-name small {
    position: relative;
}
.aui-card-list-user-name small {
    color: #757575;
}
.aui-card-list-user-info {
    color: #757575;
    font-size: 0.6rem;
}
.aui-card-list-content {
    position: relative;
}
.aui-card-list-content-padded {
    padding: 0.5rem 0.75rem;
    position: relative;
}
.aui-card-list-content, .aui-card-list-content-padded {
    color: #212121;
    font-size: 0.7rem;
}
.aui-card-list-content img, .aui-card-list-content-padded img {
    display: block;
    width: 100%;
}
.aui-card-list-footer {
    color: #757575;
    font-size: 0.7rem;
}
.aui-card-list-footer > * {
    position: relative;
}
.aui-card-list-footer.aui-text-center {
    -moz-box-pack: center;
    display: flex;
    justify-content: center;
}
.aui-card-list-footer .aui-iconfont {
    font-size: 0.9rem;
}
.aui-grid {
    background-color: #ffffff;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.aui-grid [class*="aui-col-"] {
    display: table-cell;
    padding: 1rem 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.aui-grid [class*="aui-col-xs-"]:active {
    background-color: #f5f5f5;
}
.aui-grid .aui-iconfont {
    font-size: 1.4rem;
    height: 1.4rem;
    line-height: 1.4rem;
    position: relative;
    top: 0;
    z-index: 20;
}
.aui-grid .aui-grid-label {
    display: block;
    font-size: 0.7rem;
    margin-top: 0.25rem;
    position: relative;
}
.aui-grid .aui-badge {
    left: 60%;
    position: absolute;
    top: 0.5rem;
    z-index: 99;
}
.aui-grid .aui-dot {
    position: absolute;
    right: 20%;
    top: 0.5rem;
    z-index: 99;
}
.aui-radio, .aui-checkbox {
    -moz-user-select: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 0.6rem;
    cursor: default;
    display: inline-block;
    font-size: 0.8rem;
    height: 1.2rem;
    margin: 0;
    padding: 0;
    position: relative;
    transition: background-color 0.1s ease 0s;
    vertical-align: top;
    width: 1.2rem;
}
.aui-checkbox {
    border-radius: 0.1rem;
}
.aui-radio:checked, .aui-radio.aui-checked, .aui-checkbox:checked, .aui-checkbox.aui-checked {
    background-clip: padding-box;
    background-color: #03a9f4;
    border: 1px solid #03a9f4;
    text-align: center;
}
.aui-radio:checked::before, .aui-radio.aui-checked::before, .aui-checkbox:checked::before, .aui-checkbox.aui-checked::before, .aui-radio:checked::after, .aui-radio.aui-checked::after, .aui-checkbox:checked::after, .aui-checkbox.aui-checked::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent none repeat scroll 0 0;
    border-color: currentcolor currentcolor #ffffff #ffffff;
    border-image: none;
    border-radius: 0;
    border-style: none none solid solid;
    border-width: medium medium 1px 1px;
    content: "";
    height: 0.3rem;
    left: 50%;
    margin-left: -0.25rem;
    margin-top: -0.25rem;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    width: 0.5rem;
    z-index: 2;
}
.aui-radio:disabled, .aui-radio.aui-disabled, .aui-checkbox:disabled, .aui-checkbox.aui-disabled {
    background-color: #dddddd;
    border: 1px solid #dddddd;
}
.aui-radio:disabled::before, .aui-radio.aui-disabled::before, .aui-radio:disabled::after, .aui-radio.aui-disabled::after, .aui-checkbox:disabled::before, .aui-checkbox.aui-disabled::before, .aui-checkbox:disabled::after, .aui-checkbox.aui-disabled::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent none repeat scroll 0 0;
    border-color: currentcolor currentcolor #ffffff #ffffff;
    border-image: none;
    border-radius: 0;
    border-style: none none solid solid;
    border-width: medium medium 1px 1px;
    content: "";
    height: 0.3rem;
    left: 50%;
    margin-left: -0.25rem;
    margin-top: -0.25rem;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    width: 0.5rem;
    z-index: 2;
}
.aui-switch {
    -moz-user-select: none;
    background-clip: padding-box;
    background-color: #dddddd;
    border: 1px solid #dddddd;
    border-radius: 0.6rem;
    box-sizing: border-box;
    display: inline-block;
    height: 1.2rem;
    outline: medium none;
    position: relative;
    transition: all 0.2s linear 0s;
    vertical-align: top;
    width: 2.3rem;
}
.aui-switch::before {
    background-color: #fff;
    border-radius: 0.6rem;
    content: "";
    height: 1.1rem;
    left: 0;
    position: absolute;
    top: 0;
    transition: left 0.2s ease 0s;
    width: 1.1rem;
}
.aui-switch:checked {
    background-color: #03a9f4;
    border-color: #03a9f4;
}
.aui-switch:checked::before {
    left: 1.1rem;
}
.aui-bar-transparent
{
    top: 0;
   background-color: rgba(247, 247, 247, 0);
    -webkit-box-shadow: none;
            box-shadow: none;
}
.aui-bar {
    display: table;
    font-size: 0.9rem;
    left: 0;
    min-height: 3rem;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10;
}
.aui-bar-nav {
    background-color: #03a9f4;
    color: #ffffff;
    line-height: 3rem;
    top: 0;
}
.aui-title a {
    color: inherit;
}
.aui-bar-nav .aui-title {
    left: 5rem;
    margin: 0;
    min-height: 3rem;
    overflow: hidden;
    position: absolute;
    right: 5rem;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    z-index: 2;
    color:white;
}
.aui-bar-nav a {
    color: #ffffff;
}
.aui-bar-nav .aui-iconfont {
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 3rem;
    position: relative;
    z-index: 20;
}
.aui-bar-nav .aui-pull-left {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0 0.5rem;
    z-index: 2;
}
.aui-bar-nav .aui-pull-right {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.5rem 0.5rem;
    z-index: 2;
}
.aui-bar-nav .aui-btn {
    background: transparent none repeat scroll 0 0;
    border-radius: 0.1rem;
    border-width: 0;
    height: 3rem;
    line-height: 3rem;
    margin: 0;
    padding-bottom: 0px;
    padding-top: 0px;
    position: relative;
    z-index: 20;
}
.aui-bar-nav .aui-btn.aui-btn-outlined {
    background: transparent none repeat scroll 0 0;
    border-color: #ffffff;
    border-width: 1px;
    height: 1.25rem;
    line-height: 1.25rem;
    margin: 0.5rem;
    padding: 0 0.15rem;
    position: relative;
}
.aui-bar-nav .aui-btn:active {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.aui-bar-nav .aui-btn .aui-iconfont {
    color: #ffffff;
    font-size: 0.9rem;
    line-height: 1.25rem;
    margin: 0;
    padding: 0;
}
.aui-bar-light {
    background-color: #ffffff;
    color: #03a9f4;
}
.aui-bar-nav.aui-bar-light .aui-iconfont {
    color: #03a9f4;
}
.aui-bar-nav.aui-bar-light .aui-btn-outlined {
    border-color: #03a9f4;
}
.aui-bar-nav.aui-bar-light::after {
    background-color: #dddddd;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: auto;
    top: auto;
    transform-origin: 50% 100% 0;
    width: 100%;
    z-index: 2;
}
@media not all {
.aui-bar.aui-bar-light::after {
    transform: scaleY(1);
}
}
@media not all {
.aui-bar.aui-bar-light::after {
    transform: scaleY(0.5);
}
}
@media not all {
.aui-bar.aui-bar-light::after {
    transform: scaleY(0.333);
}
}
.aui-bar-tab {
    background-color: #f5f5f5;
    bottom: 0;
    color: #757575;
    position: fixed;
    table-layout: fixed;
    top: auto;
}
.aui-bar-tab .aui-bar-tab-item {
    display: table-cell;
    height: 3rem;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 1%;
}
.aui-bar-tab .aui-active {
    color: #FF2600;
}
.aui-bar-tab .aui-bar-tab-item .aui-iconfont {
    font-size: 1rem;
    height: 1.2rem;
    line-height: 1rem;
    position: relative;
    top: 0.1rem;
    z-index: 20;
}
.aui-bar-tab .aui-bar-tab-label {
    display: block;
    font-size: 0.6rem;
    position: relative;
}
.aui-bar-tab .aui-badge {
    left: 55%;
    position: absolute;
    top: 0.1rem;
    z-index: 99;
}
.aui-bar-tab .aui-dot {
    position: absolute;
    right: 30%;
    top: 0.1rem;
    z-index: 99;
}
.aui-bar-btn {
    border: medium none;
    display: table;
    font-size: 0.7rem;
    margin: 0 auto;
    min-height: 1.8rem;
    padding: 0;
    position: relative;
    white-space: nowrap;
    width: 100%;
}
.aui-bar-btn-item {
    border-color: #03a9f4;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    display: table-cell;
    line-height: 1.6rem;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 1%;
}
.aui-bar-btn .aui-input, .aui-bar-btn input, .aui-bar-btn select {
    min-height: 1.8rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.aui-bar-btn-sm {
    min-height: 1.3rem;
}
.aui-bar-btn.aui-bar-btn-sm .aui-input, .aui-bar-btn.aui-bar-btn-sm input, .aui-bar-btn.aui-bar-btn-sm select {
    min-height: 1.2rem;
}
.aui-bar-btn-sm .aui-bar-btn-item {
    font-size: 0.6rem;
    line-height: 1.3rem;
}
.aui-bar-btn-item.aui-active {
    background-color: #03a9f4;
    color: #ffffff;
}
.aui-bar-btn-item:first-child {
    border-bottom-left-radius: 0.2rem;
    border-left-width: 1px;
    border-top-left-radius: 0.2rem;
}
.aui-bar-btn-item:last-child {
    border-bottom-right-radius: 0.2rem;
    border-left: 0 none;
    border-top-right-radius: 0.2rem;
}
.aui-bar-btn.aui-bar-btn-full .aui-bar-btn-item:first-child {
    border-bottom-left-radius: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
}
.aui-bar-btn.aui-bar-btn-full .aui-bar-btn-item:last-child {
    border-bottom-right-radius: 0;
    border-right-width: 0;
    border-top-right-radius: 0;
}
.aui-bar-btn.aui-bar-btn-round .aui-bar-btn-item:first-child {
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}
.aui-bar-btn.aui-bar-btn-round .aui-bar-btn-item:last-child {
    border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}
.aui-bar-nav .aui-bar-btn {
    margin-bottom: 0.4rem;
    margin-top: 0.45rem;
    min-height: 1.3rem;
}
.aui-bar-nav .aui-bar-btn-item {
    border-color: #ffffff;
    line-height: 1.3rem;
}
.aui-bar-nav .aui-bar-btn-item.aui-active {
    background-color: #ffffff;
    color: #03a9f4;
}
.aui-bar-nav.aui-bar-light .aui-bar-btn-item {
    border-color: #03a9f4;
}
.aui-bar-nav.aui-bar-light .aui-bar-btn-item.aui-active {
    background-color: #03a9f4;
    color: #ffffff;
}
.aui-bar-nav > .aui-bar-btn {
    width: 50%;
}
.aui-info {
    -moz-box-align: center;
    -moz-box-pack: justify;
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
    color: #757575;
    display: flex;
    font-size: 0.7rem;
    justify-content: space-between;
    padding: 0.5rem 0;
    position: relative;
}
.aui-info-item {
    -moz-box-align: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
}
.aui-info-item > *, .aui-info > * {
    display: inherit;
    position: relative;
}
.aui-progress {
    background-color: #f0f0f0;
    border-radius: 0.2rem;
    height: 1rem;
    overflow: hidden;
    width: 100%;
}
.aui-progress-bar {
    background-color: #03a9f4;
    color: #ffffff;
    float: left;
    font-size: 0.6rem;
    height: 100%;
    line-height: 1rem;
    text-align: center;
    width: 0;
}
.aui-progress.sm, .aui-progress-sm {
    height: 0.5rem;
}
.aui-progress.sm, .aui-progress-sm, .aui-progress.sm .aui-progress-bar, .aui-progress-sm .aui-progress-bar {
    border-radius: 1px;
}
.aui-progress.xs, .aui-progress-xs {
    height: 0.35rem;
}
.aui-progress.xs, .aui-progress-xs, .aui-progress.xs .progress-bar, .aui-progress-xs .progress-bar {
    border-radius: 1px;
}
.aui-progress.xxs, .aui-progress-xxs {
    height: 0.15rem;
}
.aui-progress.xxs, .aui-progress-xxs, .aui-progress.xxs .progress-bar, .aui-progress-xxs .progress-bar {
    border-radius: 1px;
}
.aui-line-danger{
    background-color: #dddddd;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    border-bottom:1px;
    width: 100%;
    z-index: 2;
}
.aui-range {
    display: inline-block;
    position: relative;
}
.aui-range input[type="range"] {
    background-color: #f0f0f0;
    border: 0 none;
    border-radius: 2px;
    height: 0.2rem;
    position: relative;
}
.aui-range .aui-range-tip {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 0.3rem;
    color: #666666;
    font-size: 1rem;
    height: 1.5rem;
    line-height: 1.5rem;
    position: absolute;
    text-align: center;
    top: -1.5rem;
    width: 2.4rem;
    z-index: 999;
}
.aui-input-row .aui-range input[type="range"] {
    margin-left: 5%;
    width: 90%;
}
.aui-searchbar {
    -moz-box-align: center;
    -moz-box-pack: center;
    backface-visibility: hidden;
    background-color: #ebeced;
    color: #9e9e9e;
    display: -webkit-box;
    height: 2.2rem;
    left: 0;
    overflow: hidden;
    width: 100%;
}
.aui-searchbar.focus {
    -moz-box-pack: start;
}
.aui-searchbar-input {
    -moz-box-flex: 1;
    background-color: #ffffff;
    border-radius: 0.25rem;
    display: -webkit-box;
    font-size: 0.7rem;
    height: 1.4rem;
    line-height: 1.4rem;
    margin: 0 0.5rem;
    padding-left: 0.5rem;
    position: relative;
    width: 100%;
}
.aui-searchbar form {
    width: 90%;
}
.aui-searchbar-input input {
    border: 0 none;
    color: #666666;
    font-size: 0.7rem;
    height: 1.4rem;
    line-height: 1.4rem;
    margin: 0;
    min-height: 1.4rem;
    padding: 0;
    width: 100%;
}
.aui-searchbar .aui-iconfont {
    line-height: 1.4rem;
    margin-right: 0.25rem;
}
.aui-searchbar .aui-searchbar-cancel {
    color: #666666;
    font-size: 0.7rem;
    height: 1.4rem;
    line-height: 1.4rem;
    margin-right: -2.2rem;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 2.2rem;
}
.aui-searchbar .aui-searchbar-cancel .aui-iconfont {
    color: #666666;
}
.aui-tips {
    -moz-box-pack: justify;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    height: 1.9rem;
    justify-content: space-between;
    line-height: 1.9rem;
    padding: 0 0.75rem;
    position: relative;
    width: 100%;
    z-index: 99;
}
.aui-tips .aui-tips-title {
    font-size: 0.7rem;
    max-width: 100%;
    padding: 0 0.5rem;
    position: relative;
}
.aui-toast {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border-radius: 0.25rem;
    color: #ffffff;
    display: none;
    left: 50%;
    margin-left: -3.75em;
    margin-top: -4rem;
    min-height: 6em;
    position: fixed;
    text-align: center;
    top: 45%;
    width: 7.5em;
    z-index: 3;
}
.aui-toast .aui-iconfont {
    display: block;
    font-size: 2.6rem;
    margin-top: 0.2rem;
}
.aui-toast-content {
    margin: 0 0 0.75rem;
}
.aui-toast-loading {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 1s linear 0s normal none infinite running rotate;
    background: transparent none repeat scroll 0 0;
    border-color: #ffffff #ffffff transparent;
    border-image: none;
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    height: 2.25rem;
    margin: 0.75rem 0;
    width: 2.25rem;
}
.aui-dialog {
    background-color: #ffffff;
    border-radius: 0.3rem;
    left: 50%;
    margin-left: -6.75rem;
    margin-top: 0;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 45%;
    transform: translate3d(0px, 0px, 0px) scale(1.2);
    transition-property: transform, opacity;
    width: 13.5rem;
    z-index: 999;
}
.aui-dialog-header {
    color: #212121;
    font-size: 1em;
    padding: 0.5rem 0.75rem 0;
    text-align: center;
}
.aui-dialog-body {
    color: #757575;
    font-size: 0.875em;
    overflow: hidden;
    padding: 0.75rem;
}
.aui-dialog-body input {
    border: 1px solid #bdbdbd;
    border-radius: 0.2rem;
    height: 1.8rem;
    line-height: 1.8rem;
    min-height: 1.8rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.aui-dialog-footer {
    -moz-box-pack: center;
    display: flex;
    font-size: 1em;
    justify-content: center;
    position: relative;
}
.aui-dialog-footer::after {
    background-color: #dddddd;
    bottom: auto;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: auto;
    top: 0;
    transform-origin: 50% 100% 0;
    width: 100%;
    z-index: 2;
}
.aui-dialog-btn {
    -moz-box-flex: 1;
    box-sizing: border-box;
    color: #0894ec;
    display: block;
    font-size: 0.8rem;
    height: 2.2rem;
    line-height: 2.2rem;
    overflow: hidden;
    padding: 0 0.25rem;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.aui-dialog-btn::after {
    background-color: #dddddd;
    bottom: auto;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: auto;
    top: 0;
    transform-origin: 100% 50% 0;
    width: 1px;
}
.aui-dialog-btn:first-child::after {
    width: 0;
}
.aui-dialog.aui-dialog-in {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale(1);
    transition-duration: 300ms;
}
.aui-dialog.aui-dialog-out {
    opacity: 0;
    transform: translate3d(0px, 0px, 0px) scale(0.815);
    transition-duration: 300ms;
}
@media not all {
.aui-dialog-footer::after {
    transform: scaleY(1);
}
.aui-dialog-btn::after {
    transform: scaleX(1);
}
}
@media not all {
.aui-dialog-footer::after {
    transform: scaleY(0.5);
}
.aui-dialog-btn::after {
    transform: scaleX(0.5);
}
}
@media not all {
.aui-dialog-footer::after {
    transform: scaleY(0.333);
}
.aui-dialog-btn::after {
    transform: scaleX(0.333);
}
}
.aui-popup {
    -moz-user-select: none;
    background: transparent none repeat scroll 0 0;
    display: none;
    height: auto;
    margin: 0;
    min-height: 4.5rem;
    min-width: 7rem;
    opacity: 0;
    padding: 0;
    position: fixed;
    transition-property: transform, opacity;
    z-index: 999;
}
.aui-popup.aui-popup-in {
    opacity: 1;
    transition-duration: 300ms;
}
.aui-popup.aui-popup-out {
    opacity: 0;
    transition-duration: 300ms;
}
.aui-popup-right {
    right: 0.75rem;
}
.aui-popup-content {
    background-color: #ffffff;
    border-radius: 0.2rem;
    height: 100%;
    min-height: 4.5rem;
    overflow: hidden;
}
.aui-popup-top, .aui-popup-top-left, .aui-popup-top-right {
    top: 0.45rem;
}
.aui-popup-top {
    left: 50%;
    margin-left: -3.5rem;
}
.aui-popup-top-left {
    left: 0.45rem;
}
.aui-popup-top-right {
    right: 0.45rem;
}
.aui-popup-arrow {
    background-color: transparent;
    background-image: linear-gradient(45deg, #ffffff, #ffffff 50%, transparent 50%);
    content: "";
    height: 0.5rem;
    position: absolute;
    transform-origin: 50% 50% 0;
    width: 0.5rem;
}
.aui-popup-top .aui-popup-arrow, .aui-popup-top-left .aui-popup-arrow, .aui-popup-top-right .aui-popup-arrow {
    top: 0.2rem;
    transform: rotate(135deg);
}
.aui-popup-top .aui-popup-arrow {
    left: 50%;
    margin-left: -0.25rem;
    margin-top: -0.4rem;
}
.aui-popup-top-left .aui-popup-arrow {
    left: 0.25rem;
    margin-top: -0.4rem;
}
.aui-popup-top-right .aui-popup-arrow {
    margin-top: -0.4rem;
    right: 0.25rem;
}
.aui-popup-bottom, .aui-popup-bottom-left, .aui-popup-bottom-right {
    bottom: 0.45rem;
}
.aui-popup-bottom {
    left: 50%;
    margin-left: -3.5rem;
}
.aui-popup-bottom-left {
    left: 0.45rem;
}
.aui-popup-bottom-right {
    right: 0.45rem;
}
.aui-popup-bottom .aui-popup-arrow, .aui-popup-bottom-left .aui-popup-arrow, .aui-popup-bottom-right .aui-popup-arrow {
    bottom: 0.2rem;
    transform: rotate(-45deg);
}
.aui-popup-bottom .aui-popup-arrow {
    left: 50%;
    margin-bottom: -0.4rem;
    margin-left: -0.25rem;
}
.aui-popup-bottom-left .aui-popup-arrow {
    left: 0.25rem;
    margin-bottom: -0.4rem;
}
.aui-popup-bottom-right .aui-popup-arrow {
    margin-bottom: -0.4rem;
    right: 0.25rem;
}
.aui-popup-content .aui-list .aui-list-item:first-child {
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}
.aui-popup-content .aui-list .aui-list-item:last-child {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
.aui-chat {
    height: 100%;
    padding: 0.5rem;
    width: 100%;
}
.aui-chat .aui-chat-item {
    display: block;
    margin-bottom: 0.75rem;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.aui-chat .aui-chat-header {
    color: #757575;
    font-size: 0.6rem;
    margin-bottom: 0.75rem;
    text-align: center;
    width: 100%;
}
.aui-chat .aui-chat-left {
    float: left;
}
.aui-chat .aui-chat-right {
    float: right;
}
.aui-chat .aui-chat-media {
    display: inline-block;
    max-width: 2rem;
}
.aui-chat .aui-chat-media img {
    /*border-radius: 50%;*/
    width: 100%;
}
.aui-chat .aui-chat-inner {
    display: inherit;
    overflow: hidden;
    position: relative;
}
.aui-chat .aui-chat-arrow {
    background-color: transparent;
    content: "";
    height: 0.6rem;
    position: absolute;
    top: 0.2rem;
    transform-origin: 50% 50% 0;
    width: 0.6rem;
}
.aui-chat .aui-chat-left .aui-chat-arrow {
    background-image: linear-gradient(45deg, #b3e5fc, #b3e5fc 50%, transparent 50%);
    left: -0.25rem;
    transform: rotate(45deg);
}
.aui-chat .aui-chat-right .aui-chat-arrow {
    background-image: linear-gradient(45deg, #ffffff, #ffffff 50%, transparent 50%);
    right: -0.25rem;
    transform: rotate(-135deg);
}
.aui-chat .aui-chat-content {
    border-radius: 0.2rem;
    color: #212121;
    font-size: 0.7rem;
    max-width: 80%;
    min-height: 2rem;
    overflow-wrap: break-word;
    padding: 0.5rem;
    position: relative;
    word-break: break-all;
}
.aui-chat .aui-chat-content img {
    display: block;
    max-width: 100%;
}
.aui-chat .aui-chat-status {
    height: 2rem;
    line-height: 2rem;
    position: relative;
    text-align: center;
    width: 2rem;
}
.aui-chat .aui-chat-name {
    color: #757575;
    font-size: 0.6rem;
    margin-bottom: 0.25rem;
    position: relative;
    width: 100%;
}
.aui-chat .aui-chat-left .aui-chat-name {
    left: 0.5rem;
}
.aui-chat .aui-chat-left .aui-chat-status {
    float: left;
    left: 0.5rem;
}
.aui-chat .aui-chat-left .aui-chat-media {
    float: left;
    width: 2rem;
}
.aui-chat .aui-chat-left .aui-chat-inner {
    max-width: 70%;
}
.aui-chat .aui-chat-left .aui-chat-content {
    background-color: #b3e5fc;
    float: left;
    left: 0.5rem;
}
.aui-chat .aui-chat-right .aui-chat-media {
    float: right;
    width: 2rem;
}
.aui-chat .aui-chat-right .aui-chat-inner {
    float: right;
    max-width: 70%;
}
.aui-chat .aui-chat-right .aui-chat-name {
    float: right;
    right: 0.5rem;
    text-align: right;
}
.aui-chat .aui-chat-right .aui-chat-content {
    background-color: #ffffff;
    float: right;
    right: 0.5rem;
    min-width: 6rem;
}
.aui-chat .aui-chat-right .aui-chat-status {
    float: right;
    right: 0.5rem;
}
.aui-border-t, .aui-border-b, .aui-border-l, .aui-border-r, .aui-border-tb, .aui-border {
    position: relative;
}
.aui-border-l::before, .aui-border-r::after {
    background-color: #dddddd;
    bottom: auto;
    content: "";
    display: block;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform-origin: 50% 100% 0;
    width: 1px;
    z-index: 2;
}
.aui-border-t::before, .aui-border-b::after {
    background-color: #dddddd;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: auto;
    transform-origin: 100% 50% 0;
    width: 100%;
    z-index: 2;
}
.aui-border-l::before {
    left: 0;
    right: auto;
}
.aui-border-r::after {
    left: auto;
    right: 0;
}
.aui-border-t::before {
    bottom: auto;
    top: 0;
}
.aui-border-b::after {
    bottom: 0;
    top: auto;
}
.aui-border::after {
    border: 1px solid #dddddd;
    bottom: auto;
    content: "";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: auto;
    top: 0;
    transform: scale(1);
    transform-origin: 0 0 0;
}
.aui-border-all{
    border: 1px solid #dddddd;
    bottom: auto;
    content: "";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: auto;
    top: 0;
    transform: scale(1);
    transform-origin: 0 0 0;
}
.aui-border-all2{
    border: 1px solid #dddddd;
    display: block;
}
.aui-border-none{
	border:none;
}
@media not all {
.aui-border::after {
    bottom: -100%;
    right: -100%;
    transform: scale(0.5);
}
}
@media not all {
.aui-border-r::after, .aui-border-l::before {
    transform: scaleX(1);
}
.aui-border-t::before, .aui-border-b::after {
    transform: scaleY(1);
}
}
@media not all {
.aui-border-r::after, .aui-border-l::before {
    transform: scaleX(0.5);
}
.aui-border-t::before, .aui-border-b::after {
    transform: scaleY(0.5);
}
}
@media not all {
.aui-border-r::after, .aui-border-l::before {
    transform: scaleX(0.333);
}
.aui-border-t::before, .aui-border-b::after {
    transform: scaleY(0.333);
}
}
@keyframes rotate {
0% {
    transform: rotate(0deg) scale(1);
}
50% {
    transform: rotate(180deg) scale(1);
}
100% {
    transform: rotate(360deg) scale(1);
}
}
@keyframes rotate {
0% {
    transform: rotate(0deg) scale(1);
}
50% {
    transform: rotate(180deg) scale(1);
}
100% {
    transform: rotate(360deg) scale(1);
}
}
@keyframes bounce {
0%, 100% {
    transform: scale(0);
}
50% {
    transform: scale(1);
}
}
@keyframes bounce {
0%, 100% {
    transform: scale(0);
}
50% {
    transform: scale(1);
}
}
@keyframes fadeIn {
0% {
    opacity: 0.3;
}
100% {
    opacity: 1;
}
}
@keyframes fadeIn {
0% {
    opacity: 0.3;
}
100% {
    opacity: 1;
}
}
/*iconfont 样式*/
@font-face {
    font-family: "aui_iconfont";
    src: url("font/aui-iconfont.2.0.ttf") format("truetype");
}
.aui-iconfont {
    font-family: "aui_iconfont";
    font-size: 0.7rem;
    font-style: normal;
    position: relative;
}
.aui-icon-menu::before {
    content: "";
}
.aui-icon-paper::before {
    content: "";
}
.aui-icon-info::before {
    content: "";
}
.aui-icon-question::before {
    content: "";
}
.aui-icon-left::before {
    content: "";
}
.aui-icon-right::before {
    content: "";
}
.aui-icon-top::before {
    content: "";
}
.aui-icon-down::before {
    content: "";
}
.aui-icon-share::before {
    content: "";
}
.aui-icon-comment::before {
    content: "";
}
.aui-icon-edit::before {
    content: "";
}
.aui-icon-trash::before {
    content: "";
}
.aui-icon-recovery::before {
    content: "";
}
.aui-icon-refresh::before {
    content: "";
}
.aui-icon-close::before {
    content: "";
}
.aui-icon-cart::before {
    content: "";
}
.aui-icon-star::before {
    content: "";
}
.aui-icon-plus::before {
    content: "";
}
.aui-icon-minus::before {
    content: "";
}
.aui-icon-correct::before {
    content: "";
}
.aui-icon-search::before {
    content: "";
}
.aui-icon-gear::before {
    content: "";
}
.aui-icon-map::before {
    content: "";
}
.aui-icon-location::before {
    content: "";
}
.aui-icon-image::before {
    content: "";
}
.aui-icon-phone::before {
    content: "";
}
.aui-icon-camera::before {
    content: "";
}
.aui-icon-video::before {
    content: "";
}
.aui-icon-qq::before {
    content: "";
}
.aui-icon-wechat::before {
    content: "";
}
.aui-icon-weibo::before {
    content: "";
}
.aui-icon-note::before {
    content: "";
}
.aui-icon-mail::before {
    content: "";
}
.aui-icon-wechat-circle::before {
    content: "";
}
.aui-icon-home::before {
    content: "";
}
.aui-icon-forward::before {
    content: "";
}
.aui-icon-back::before {
    content: "";
}
.aui-icon-laud::before {
    content: "";
}
.aui-icon-lock::before {
    content: "";
}
.aui-icon-unlock::before {
    content: "";
}
.aui-icon-like::before {
    content: "";
}
.aui-icon-my::before {
    content: "";
}
.aui-icon-more::before {
    content: "";
}
.aui-icon-mobile::before {
    content: "";
}
.aui-icon-calendar::before {
    content: "";
}
.aui-icon-date::before {
    content: "";
}
.aui-icon-display::before {
    content: "";
}
.aui-icon-hide::before {
    content: "";
}
.aui-icon-pencil::before {
    content: "";
}
.aui-icon-flag::before {
    content: "";
}
.aui-icon-cert::before {
    content: "";
}




/*搜索条*/
.aui-searchbar {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    height: 2.2rem;
    overflow: hidden;
    width: 100%;
    background-color: #ebeced;
    color: #9e9e9e;
    -webkit-backface-visibility: hidden;
  			backface-visibility: hidden;
}
.aui-searchbar.focus {
    -webkit-box-pack: start;
}
.aui-searchbar-input {
    margin: 0 0.5rem;
	background-color: #ffffff;
    border-radius: 0.25rem;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.7rem;
    position: relative;
    padding-left: 0.5rem;
    display: -webkit-box;
    -webkit-box-flex: 1;
}
.aui-searchbar form {
	width: 90%;
}
.aui-searchbar-input input {
    color: #666666;
    width: 80%;
    padding: 0;
    margin: 0;
    height: 1.4rem;
    line-height: normal;
    border: 0;
    -webkit-appearance: none;
    font-size: 0.7rem;
}
.aui-searchbar input::-webkit-input-placeholder {
	color: #ccc;
}
.aui-searchbar .aui-iconfont {
    line-height: 1.4rem;
    margin-right: 0.25rem;
    color: #9e9e9e !important;
}
.aui-searchbar .aui-searchbar-btn {
	font-size: 0.7rem;
	color: #666666;
	margin-right: -2.2rem;
	width: 2.2rem;
	height: 1.4rem;
	padding-right: 0.5rem;
	line-height: 1.4rem;
	text-align: center;
	-webkit-transition: all .3s;
	      	transition: all .3s;
}
.aui-searchbar-clear-btn {
	position: absolute;
	right: 5px;
	top: 3px;
	width: 1.1rem;
	height: 1.1rem;
	background: #eeeeee;
	border-radius: 50%;
	line-height: 0.6rem;
	text-align: center;
	display: none;
}
.aui-searchbar-clear-btn .aui-iconfont {
	font-size: 0.6rem;
	margin: 0 auto;
	position: relative;
	top: -2px;
}
.aui-searchbar .aui-searchbar-btn .aui-iconfont {
	color: #666666;
}
.aui-searchbar {
     background: transparent;
}
.aui-bar-nav .aui-searchbar-input {
     background-color: #ffffff;
}
.aui-bar-light .aui-searchbar-input {
     background-color: #f5f5f5;
}

/*会员中心背景*/
.aui-bg-info {
    background-color: #03a9f4 !important;
}
/*加载更多*/
.js-load-more{background-color: #d31733;border: 0 none;border-radius: 5px;color: #fff; font-size: 16px;height: 30px;line-height: 30px;margin: 20px auto;padding: 0 15px;text-align: center;width: 120px;}


.aui-bar-transparent{top:0;background-color:rgba(247,247,247,0);-webkit-box-shadow:none;box-shadow:none}


